.showOptions {
  width: 200px;
}

.newElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 2px);
  margin: 0 1px;
  border: 1px solid white;
}

.dropdownImg {
  width: 100%;
}