.showOptions {
  width: 200px;
}

.newElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 2px);
  margin: 0 1px;
  border: 2px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.dropdownImg {
  width: 100%;
}

.showMoreBtn {
  width: 206px;
  margin-left: 8px;
  border: navy 1px solid;
  height: 30px;
  outline: none;
  background: rgb(228, 228, 228);
}

.showMoreBtn:active {
  background: rgb(204, 204, 204);
}