.showOptions {
  width: 200px;
  margin-bottom: 30px;
}

.newElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 2px);
  margin: 0 1px;
  border: 2px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.dropdownImg {
  width: 100%;
}