@import '../../variables';

.homeMainDiv {
  margin: 100px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
  top: 10px;
}

.headerIcon {
  height: 130%;
  z-index: -1;
  filter: invert(0%) sepia(100%) saturate(300%) hue-rotate(40deg) brightness(150%) contrast(150%);
}

.headerTitle {
  margin: 0;
  margin-right: 15px;
  font-weight: 900; 
  font-size: 60px;
  color: $yellow;
  text-shadow: 2.5px 2.5px 3px $darkblue;
}

.tabs {
  margin-top: 0;
  align-self: flex-start;
  background-image: linear-gradient(90deg, transparent, #001486, #001486, transparent)
}

.homeTab {
  width: 100px;
  height: 40px;
  background-color: #001486;
  border: none;
  font-family: 'Handlee', cursive;
  font-size: 18px;
  font-weight: 600;
  color: $yellow;
}

.homeTab:hover {
  cursor: pointer;
}

.familyActive {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-right: $turquoise 2px solid;
  background-color: $yellow;
  color: navy;
  outline: none;
}

.family {
  border-top-left-radius: 8px;
}

.makeupActive {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-right: $turquoise 2px solid;
  border-left: $turquoise 2px solid;
  background-color: $yellow;
  color: navy;
  outline: none;
}

.makeupFamilyActive {
  border-top-right-radius: 8px;
  border-right: $turquoise 2px solid;
}

.makeupFoodActive {
  border-top-left-radius: 8px;
  border-left: $turquoise 2px solid;
}

.food {
  border-top-right-radius: 8px;
}

.foodActive {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-left: $turquoise 2px solid;
  background-color: $yellow;
  color: navy;
  outline: none;
}

.homeDuoDiv {
  margin-top: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 1500px;
  width: 90vw;
  min-height: 800px;
  height: 100%;
}

.homeLeft {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.postsList {
  width: calc(100% - 10px);
  height: 100%;
  min-height: 500px;
  background-color: white;
  box-shadow: 2px 2px 3px rgb(82, 82, 82);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sectionTitle {
  color: navy;
  text-shadow: 1.2px 1.2px 2px rgb(85, 85, 85);
}

.showPosts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.postDiv {
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.postTitle {
  margin-bottom: 0;
  cursor: pointer;
  color: navy;
}

.postText {
  text-align: left;
  margin-top: 0;
}

.filter {
  height: 21px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 3px;
  font-size: 15px;
}

.homeRight {
  width: 30%;
  height: 100%;
  min-height: 300px;
  background-color: white;
  box-shadow: 2px 2px 3px rgb(82, 82, 82);
  margin-left: 0;
}

.viewMoreBtn {
  margin-bottom: 20px;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: $yellow;
  color: navy;
  font-family: 'Handlee', cursive;
  font-size: 17px;
  font-weight: 600;
  box-shadow: 2px 2px 3px rgb(82, 82, 82);
  outline: none;
}

@media(max-width: 1200px){
  .headerDiv {
    position: static;
  }
}

@media(max-width: 800px){
  .headerTitle {
    font-size: 45px;
  }
  .headerIcon{
    height: 100%;
  }
  .homeMainDiv{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 80px;
  }
  .homeDuoDiv{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
  .homeLeft{
    align-self: center;
    width: inherit;
  }
  .postsList{
    width: inherit;
    box-shadow: none;
  }
  .homeRight{
    align-self: center;
    width: 100%;
    box-shadow: none;
  }
}

@media(max-width: 330px){
  .headerTitle{
    font-size: 40px;  
  }
}