@import '../../variables';

.navMainInit {
  width: inherit;
  height: 75px;
  background-image: linear-gradient(180deg, rgba(19, 19, 19, 0.596) 10%, transparent), linear-gradient(180deg, $darkblue, rgb(0, 0, 119));
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  transition: .5s;
}

.navMainScroll {
  background: transparent;
}

.navbarInit {
  width: calc(100vw - 100px);
  height: 50px;
  // background-image: linear-gradient(180deg, rgba(19, 19, 19, 0.596) 10%, transparent), linear-gradient(180deg, $darkblue, rgb(0, 0, 119));
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  border: 2px solid $turquoise; 
  position: sticky;
  top: 10px;
  transition: .5s;
}

.navbarScroll {
  width: calc(100vw - 100px);
  height: 50px;
  background-image: linear-gradient(180deg, rgba(19, 19, 19, 0.596) 10%, transparent), linear-gradient(180deg, $darkblue, rgb(0, 0, 119));
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  position: sticky;
  top: 10px;
  transition: .5s;
}

.navLogo {
  height: 100%;
}

.navDivLeft {
  margin-left: 30px;
}

.navDivRight {
  margin-right: 30px;
}

.navBtn {
  margin: 0 10px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
