@import './Components/Navbar/Navbar';
@import './Components//Navbar/Dots';
@import './Components/Home/Home';
@import './Components/PostShow/Post';
@import './Components/Comments/Comment';
@import './Components/Auths/Auths';

body {
  min-height: 130vh;
  width: calc(100vw - (100vw - 100%));
  background-image: linear-gradient(90deg, #3FFFFB, #2b9fdd);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Handlee', cursive;
  z-index: -2;
}

#root {
  min-height: inherit;
  width: inherit;
}

.App {
  min-height: inherit;
  width: inherit;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  align-self: flex-start;
  cursor: default;
}
